* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-escuro: #0d643a; 
    --verde-medio: #148f4b; 
    --verde-claro: #a4debf; 
    --fundo-suave: #e5f3e9;    
    --cor-texto: #333;
    --cor-fundo-geral: #f4f4f9;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo-geral);
    color: var(--cor-texto);
    line-height: 1.6;
}

header {
    background-color: var(--verde-escuro);
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

section, .info-basica {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--verde-escuro);
    color: var(--fundo-suave);
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}

h1 { font-size: 2.8em; }

h2 {
    color: var(--verde-escuro); 
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.8em;
    border-bottom: 3px solid var(--verde-claro); 
    display: inline-block;
    padding-bottom: 5px;
}

h3 {
    color: var(--verde-medio);
    margin-top: 15px;
    font-size: 1.2em;
}

#sobre-mim img {
    max-width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    border: 5px solid var(--verde-medio); 
    object-fit: cover;
    transition: transform 0.3s;
}
#sobre-mim img:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 0 8px var(--verde-claro); 
}

strong {
    color: var(--verde-medio); 
}

.hobbies-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
}

.hobby-card {
    flex: 1; 
    min-width: 280px; 
    text-align: center;
    border: 3px solid var(--verde-claro);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s, background-color 0.3s;
    background-color: white; 
}

.hobby-card:hover {
    box-shadow: 0 10px 25px rgba(20, 143, 75, 0.4);
    background-color: var(--fundo-suave);
    transform: translateY(-5px);
}

.hobby-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 5px solid var(--verde-medio); 
}

.hobby-card h3 {
    color: var(--verde-medio);
    padding: 15px 10px 5px;
    margin: 0;
}

.hobby-card p {
    padding: 0 15px 20px;
    font-size: 0.95em;
}